<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Comment for <%= comment._id %> </h1>
    </div>
    URL: <%= comment.url %> <br>
    Comment: <%= comment.comment %>
    <hr>
    
<%- include('bootfooter') -%>
