<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Comments</h1>
    </div>
    <ol>
    <% for(i = 0; i<comments.length; i++){  %>
        <li> <a href="/showComment/<%= comments[i]._id %>">
              <%= comments[i].url %></a>
              <i>
             <%= comments[i].comment %></\/i> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
