<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global Webpage Comment Form</h1>
        <p>add comments to any page on the web ...</p>
    </div>

    You entered the following ..<br>

    The URL was: <%= url %><br>
    The comments were: <br> <%= coms %>

<%- include('bootfooter') -%>
