<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1><%= post.userName %></h1>
        <p> <%= post.createdAt %></p>
    </div>

    <i>

   <% if (post.userId.equals(user._id)) { %>
       <input type="checkbox" name="delete" value="<%= post._id %>">
   <% } %>
   <pre>
   <%= post.post %>
   </pre>
   <form method="post" action="/saveForumComment">
       <input type="hidden" name="postId" value="<%= post._id %>">
       <textarea name="comment"  cols="100%"></textarea><br>
       <input class="btn btn-sm btn-primary" type="submit" value="Add Comment">
   </form>
   <br><br><br>
   <iframe src="/showPostComments/<%= post._id%>" height="200" width="100%"></iframe>




<%- include('bootfooter') -%>
