<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1><%= post.userName %></h1>
        <p> <%= post.createdAt %></p>
    </div>

    <i>

   <% if (post.userId.equals(user._id)) { %>
       <input type="checkbox" name="delete" value="<%= post._id %>">
   <% } %>
   <pre>
   <%= post.post %>
   </pre>
   <form method="post" action="/saveForumComment">
       <input type="hidden" name="postId" value="<%= post._id %>">
       <textarea name="comment"  cols="100%"></textarea><br>
       <input class="btn btn-sm btn-primary" type="submit" value="Add Comment">
   </form>
   <br><br><br>
   <h2>Comments</h2>
   <ol>
   <% console.log("in forumPost.ejs with comments.length ="+comments.length) %>
   <% for(i = 0; i<comments.length; i++){  %>
       <li> <a href="/showComment/<%= comments[i]._id %>">
             <%= comments[i].userName %></a>
             <i>
            <%= comments[i].createdAt %></\/i> <br>
            <% if (comments[i].userId.equals(user._id)) { %>
                <input type="checkbox" name="delete" value="<%= comments[i]._id %>">
            <% } %>
            <pre>...<%= comments[i].comment %></pre>
        </li>
   <% } %>
   </ol>


<%- include('bootfooter') -%>
