<%- include('bootheaderReloading') -%>



   <h2>Comments!!</h2>
   <ul>
   <% console.log("in forumPost.ejs with comments.length ="+comments.length) %>
   <% for(i = 0; i<= comments.length-1; i++){  %>
       <li> <a href="/showComment/<%= comments[i]._id %>"> i = <%= i %>
             <%= comments[i].userName %></a>
             <i>
            <%= comments[i].createdAt %></\/i> <br>
            <% if (comments[i].userId.equals(user._id)) { %>
                <input type="checkbox" name="delete" value="<%= comments[i]._id %>">
            <% } %>
            <pre>...<%= comments[i].comment %></pre>
        </li>
   <% } %>
   </ul>


<%- include('bootfooter') -%>
