<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Forum</h1>
        <p>Demonstrating a threaded forum</p>
    </div>

    <form method="post" action="/forum">
      New Post: <br>
      <textarea id="post" name="post"></textarea>
      <br>
      <input type="submit">
    </form>
    <hr>
    <form method="post" action="/forumDelete">
        <input type="submit" value="delete marked">
        <ol>
        <% for(i = 0; i<posts.length; i++){  %>
            <li> <a href="/showPost/<%= posts[i]._id %>">
                  <%= posts[i].userName %></a>
                  <i>
                 <%= posts[i].createdAt %></\/i> <br>
                 <% console.dir([posts[i].userId,user._id]) %>
                 <% if (posts[i].userId.equals(user._id)) { %>
                     <input type="checkbox" name="delete" value="<%= posts[i]._id %>">
                 <% } %>
                 <pre><%= posts[i].post %></pre>

             </li>
        <% } %>
        </ol>

    </form>

<%- include('bootfooter') -%>
