<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>YellowCartwheel Profile</h1>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to YellowCartwheel.
        </p>

    </div>

<%- include('bootfooter') -%>
