<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Quiz 2</h1>
        <p>Add routes and controllers so that when the user
           submit this form, their info is stored in the MovieRating collection and
           all of the documents in the collection are shown on this page.

           </p>
    </div>

    <form method="post" action="/processQuiz2Form">
      Movie Name: <input type="text" id="movieName" name="movieName"> <br>
      Rating (1=poor, 5=great):
        <select name="rating">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      <br>
      review:<br>
      <textarea id="review" name="review" rows="5" cols="80"></textarea>

      <br>
      <input class="btn btn-lg btn-warning" type="submit">
    </form>

    <ol>
      <% for(i = 0; i<ratings.length; i++){  %>
          <li>
                <b>    <%= ratings[i].movieName %> </b>
                Rating:<%= ratings[i].rating %>    <br>
                       <%= ratings[i].createdAt %> <br>
                <i>    <%= ratings[i].review %>    </i>
          </li>
      <% } %>
      </ol>


<%- include('bootfooter') -%>
