<%- include('bootheader') -%>
<%- include('menubarC19') -%>


	<div class="jumbotron">
    <h1>Latest Covid19 data for <%= states %></h2>
		<p> This data is from an API provided by
			<a href="https://covidtracking.com/">
				https://covidtracking.com/ </a>
				<br>
				and was last updated  as of <%= dateChecked %>
				<br>
				More details at <a href="/about">this link</a>
				<br>
				They just added the number of "hospitalized"
				to the daily data on 3/22/2020.
			</p>
			<h2><a href="/">Back to main page</a></h2>
  </div>

	<div class="chart-container" style="position: relative; height:90vh">
    <canvas id="canvas"></canvas>
  </div>


	<% if (yaxistype=='logarithmic') { %>
		With a logarithmic plot, straight lines denote exponential growth!!<br>
		We want to see straight lines for testing, but flatter line for positive and death!
	<% } %>

	<form method="post" action="/us">
		<input class="btn btn-lg btn-primary" type="submit">
  <div class="row">
		<div class="col">
			<br><br>
			<h2>Scale to use</h2>
			<% scales=['linear','logarithmic']
				 for (i = 0; i<scales.length; i++){
					 s = scales[i] %>
			<br><input type="radio"
						 name="yaxistype"
						 value="<%= s %>"
						 <% if (s==yaxistype) { %> checked <% } %>
						 > <%= s %> &nbsp; &nbsp;
			<% } %>
			<hr>
			<h2>Units to use</h2>
			<% scales=['raw','per10000']
				 for (i = 0; i<scales.length; i++){
					 s = scales[i] %>
			<br><input type="radio"
						 name="units"
						 value="<%= s %>"
						 <% if (s==units) { %> checked <% } %>
						 > <%= s %> &nbsp; &nbsp;
			<% } %>
			<hr>
	<h2>Fields to show</h2>
	<% const datakeys = Object.keys(data[data.length-1]) %>

	<% for (let i in datakeys){ let d = datakeys[i] %>
		<br><input type="checkbox" name="fields"
		     <% if (fields.includes(d)) {%> checked <% } %>
		     value="<%= d %>"> <%= d %>
	<% } %>

		</div>
		<div class="col">
			<br><br>
	<h2> State to visualize </h2>

			<% for (let i in usstates) {
				let s = usstates[i] %>
				<br><input type="checkbox" class="btn btn-sm btn-primary"
				       name="state" value=<%=i %>
				 <% if (states.includes(i)) {%> checked <% } %> ><%= s %> <%= i %>
			<% } %>
		 <br><br>
    </div>
	 </div>
  </form>
	<br><br><hr><br><br>
	<h1>Here is the data for <%= state %> in tabular form</h1>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<% for (i in datakeys) { %>
					<td> <%= datakeys[i] %> </td>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% for (i in data) {%>
				<tr>
					<% for (j in datakeys) { %>
						<td>  <%= data[i][datakeys[j]] || '-'  %> </td>
					<% } %>
				</tr>
			<% } %>

		</tbody>
	</table>

	<br>
	<br>

	<script>
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		<% function weeklyaverage(nums) {
		  z=[]
		  for (i in nums) {
		        z.push(nums.slice(Math.max(i-6,0),parseInt(i)+1).reduce((t,n) => t+n)/7)
		  }
		  return z
		} %>
		var config = {
			type: 'line',
			data: {
				labels: [<%= dates %>],
				datasets: [

				<% console.log(JSON.stringify(statepop))
				    for(let i=0; i<states.length;i++) {
						 let pop = statepop[usstates[states[i]]]/10000
						 if (units=='raw'){
							 pop=1
						 }
					   console.log("pop of "+usstates[states[i]]+" is "+pop)
					   for(let j=0; j<fields.length; j++){
							 let s = states[i]

							 let f = fields[j]
							 let c0 = Math.floor(Math.random()*15728640 +1048576)
							 let c0a = Math.floor((2**24+c0)/2)
							 let c1 = '#'+c0.toString(16)
							 let c1a = '#' + c1[1]+'f'+c1[3]+'f'+c1[5]+'f'
							 console.log(`c1=${c1} c1a=${c1a}`)
							 nums = data2[s].map((x)=>(x[f]||0)/pop)
							 console.log(JSON.stringify(nums))
							 wnums = weeklyaverage(nums)
							 %>
							 {
								 label:'<%= s %><%= f %>',
								 fill: false,
								 backgroundColor: '<%= c1a %>',
								 borderColor: '<%= c1a %>',
								 borderDash: [5, 5],
								 data: [<%= data2[s].map(d => (d[f]||0)/pop) %>],
							 },
							 {
								 label:'<%= s %><%= f %> weekly average',
								 fill: false,
								 backgroundColor: '<%= c1 %>',
								 borderColor: '<%= c1 %>',

								 data: [<%= wnums %>],
							 },
			  <% }} %>

			  ]
			},
			options: {
				responsive: true,
				maintainAspectRatio:false,
				title: {
					display: true,
					text: '<%= yaxistype %> plot of Latest Covid-19 data for <%= states %> with <%= units %> data'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				legend: {
            display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}],
					yAxes: [{
						display: true,
						type:'<%= yaxistype %>',
						scaleLabel: {
							display: true,
							labelString: `Value `+'<%= units %>'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
</script>



<%- include('bootfooter') -%>
